data
logs
__pycache__
.ipynb_checkpoints
.virtual_documents
.vscode

*.out
*.log
*.pyc

accelerate.yaml
*.txt
*.json
*.jsonl
*.tex
/*.png

TMP
tmp

wandb

*.zip
*.pdf

tmp.py
tmp.sh
tmp*.jpg
tmp*.png

*.ipynb